<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="bg-white rounded-lg p-6 w-full max-w-md">
      <h2 class="text-2xl font-bold mb-6">{{ isEdit ? 'Edit' : 'Add' }} Event</h2>
      
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="space-y-4">
        @if(isEdit){

            <div>
                <label class="block text-gray-700 mb-2">Event ID</label>
                <input type="text" 
                formControlName="id"
                class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 
                focus:ring-blue-500 focus:border-transparent"
                [disabled]="isEdit"> <!-- Disable ID field when editing -->
            </div>
            
        }
        <div>
          <label class="block text-gray-700 mb-2">Event Date</label>
          <input type="date" 
                 formControlName="eventDate"
                 class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 
                        focus:ring-blue-500 focus:border-transparent">
        </div>
  
        <div>
          <label class="block text-gray-700 mb-2">Event Duration (in hours)</label>
          <input type="number" 
                 formControlName="eventDuration"
                 class="w-full p-2 border border-gray-300 rounded-lg focus:ring-2 
                        focus:ring-blue-500 focus:border-transparent">
        </div>

        <div class="flex justify-end gap-4 mt-6">
          <button type="button" 
                  (click)="onCancel()"
                  class="px-4 py-2 text-gray-600 hover:text-gray-800 
                         font-medium transition duration-200">
            Cancel
          </button>
          <button type="submit"
                  [disabled]="!eventForm.valid"
                  class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white 
                         font-medium rounded-lg transition duration-200 
                         disabled:opacity-50 disabled:cursor-not-allowed">
            {{ isEdit ? 'Update' : 'Add' }}
          </button>
        </div>
      </form>
    </div>
  </div>
